In [1]:
# Import libraries

import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt 
import matplotlib 
import seaborn as sns 
import pylab as pl

In [2]:
# Create path 

path = r"C:\Users\Megan\Documents\Analytics\Gun Violence Achievement 6"

In [3]:
pop_data = pd.read_csv(os.path.join(path, '02 Data','Raw Data','New Census Data.csv'), index_col=False)

In [4]:
pop_data.columns

Index(['State', 'Year', ' Total Population '], dtype='object')

In [5]:
# Check years to match with other dataset

pop_data['Year'].value_counts()

2009    51
2010    51
2011    51
2012    51
2013    51
2014    51
2015    51
2016    51
2017    51
Name: Year, dtype: int64

In [6]:
# Create subset for only the years 2013 to 2017

Census = pop_data.loc[(pop_data['Year'] >= 2013) & (pop_data['Year'] <=2017)]

In [7]:
Census.dtypes

State                 object
Year                   int64
 Total Population      int64
dtype: object

In [8]:
# Change Year data type to object 

Census['Year'] = Census['Year'].astype('str')

C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\2484194287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Census['Year'] = Census['Year'].astype('str')

In [9]:
Census.dtypes

State                 object
Year                  object
 Total Population      int64
dtype: object

In [10]:
Census['State_Year'] = Census[['State', 'Year']].agg(', '.join, axis=1)

C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\3752198862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Census['State_Year'] = Census[['State', 'Year']].agg(', '.join, axis=1)

In [11]:
Census.head()

     State  Year   Total Population      State_Year
4  Alabama  2013             4645681  Alabama, 2013
5  Alabama  2014             4504373  Alabama, 2014
6  Alabama  2015             4394389  Alabama, 2015
7  Alabama  2016             4542822  Alabama, 2016
8  Alabama  2017             4593132  Alabama, 2017

In [12]:
# Drop state and year column 

Census = Census.drop(columns = {'State','Year'})

In [13]:
Census.head()

    Total Population      State_Year
4             4645681  Alabama, 2013
5             4504373  Alabama, 2014
6             4394389  Alabama, 2015
7             4542822  Alabama, 2016
8             4593132  Alabama, 2017

In [14]:
# Import Gun Violence data 

guns = pd.read_csv(os.path.join(path, '02 Data','Raw Data','regression_data.csv'), index_col=False)

In [15]:
guns.head()

,Unnamed: 0,Incident_id,Date,State,City_or_County,#_killed,#_injured,latitude,longitude,n_guns_involved,participant_age_group,participant_gender,Geographic_Region
0,0,461105,1/1/2013,Pennsylvania,Mckeesport,0,4,40.3467,-79.8559,1.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,East
1,1,460726,1/1/2013,California,Hawthorne,1,3,33.9090,-118.3330,1.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,West
2,2,478855,1/1/2013,Ohio,Lorain,1,3,41.4455,-82.1377,2.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,East
3,3,478925,1/5/2013,Colorado,Aurora,4,0,39.6518,-104.8020,1.0,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,Middle
4,4,478959,1/7/2013,North Carolina,Greensboro,2,2,36.1140,-79.9569,2.0,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,East

In [16]:
# Create subset to eliminate unstructured columns

guns_1 = guns[['Date','State','#_killed','#_injured','latitude','longitude','n_guns_involved','Geographic_Region']]

In [17]:
guns_1.head()

,Date,State,#_killed,#_injured,latitude,longitude,n_guns_involved,Geographic_Region
0,1/1/2013,Pennsylvania,0,4,40.3467,-79.8559,1.0,East
1,1/1/2013,California,1,3,33.9090,-118.3330,1.0,West
2,1/1/2013,Ohio,1,3,41.4455,-82.1377,2.0,East
3,1/5/2013,Colorado,4,0,39.6518,-104.8020,1.0,Middle
4,1/7/2013,North Carolina,2,2,36.1140,-79.9569,2.0,East

In [18]:
# Create separate columns for Year, Month and Day

guns_1['Date'] = pd.to_datetime(guns_1['Date'])
guns_1['Year'] = guns_1['Date'].dt.year
guns_1['Month'] = guns_1['Date'].dt.month
guns_1['Day'] = guns_1['Date'].dt.day

C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\2512569383.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guns_1['Date'] = pd.to_datetime(guns_1['Date'])
C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\2512569383.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guns_1['Year'] = guns_1['Date'].dt.year
C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\2512569383.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guns_1['Month'] = guns_1['Date'].dt.month
C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\2512569383.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guns_1['Day'] = guns_1['Date'].dt.day

In [19]:
# Check output

guns_1.head()

,Date,State,#_killed,#_injured,latitude,longitude,n_guns_involved,Geographic_Region,Year,Month,Day
0,2013-01-01,Pennsylvania,0,4,40.3467,-79.8559,1.0,East,2013,1,1
1,2013-01-01,California,1,3,33.9090,-118.3330,1.0,West,2013,1,1
2,2013-01-01,Ohio,1,3,41.4455,-82.1377,2.0,East,2013,1,1
3,2013-01-05,Colorado,4,0,39.6518,-104.8020,1.0,Middle,2013,1,5
4,2013-01-07,North Carolina,2,2,36.1140,-79.9569,2.0,East,2013,1,7

In [20]:
# Drop Date column 

guns_1 = guns_1.drop(columns = {'Date'})

In [21]:
guns_1

,State,#_killed,#_injured,latitude,longitude,n_guns_involved,Geographic_Region,Year,Month,Day
0,Pennsylvania,0,4,40.3467,-79.8559,1.0,East,2013,1,1
1,California,1,3,33.9090,-118.3330,1.0,West,2013,1,1
2,Ohio,1,3,41.4455,-82.1377,2.0,East,2013,1,1
3,Colorado,4,0,39.6518,-104.8020,1.0,Middle,2013,1,5
4,North Carolina,2,2,36.1140,-79.9569,2.0,East,2013,1,7
...,...,...,...,...,...,...,...,...,...,...
230784,Washington,0,0,47.6638,-117.2350,1.0,West,2018,3,31
230785,Louisiana,1,0,31.7537,-93.0836,1.0,Middle,2018,3,31
230786,Louisiana,0,1,29.9239,-90.0442,1.0,Middle,2018,3,31
230787,Texas,1,0,29.7201,-95.6110,1.0,Middle,2018,3,31
230788,Maine,2,0,44.7293,-69.7691,2.0,East,2018,3,31

In [22]:
guns_1['Year'].value_counts()

2017    59539
2016    54266
2015    52917
2014    51663
2018    12128
2013      276
Name: Year, dtype: int64

In [23]:
# Drop records from 2018, since the census data doesn't include information from this year 

guns_2 = guns_1.loc[guns_1['Year'] < 2018]

In [24]:
guns_2['Year'].value_counts()

2017    59539
2016    54266
2015    52917
2014    51663
2013      276
Name: Year, dtype: int64

In [25]:
guns_2.dtypes

State                 object
#_killed               int64
#_injured              int64
latitude             float64
longitude            float64
n_guns_involved      float64
Geographic_Region     object
Year                   int64
Month                  int64
Day                    int64
dtype: object

In [26]:
# Convert year to string 

guns_2['Year'] = guns_2['Year'].astype('str')

C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\4293645575.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guns_2['Year'] = guns_2['Year'].astype('str')

In [27]:
# Create column for state and year, to create key for joining data sets

guns_2['State_Year'] = guns_2[['State', 'Year']].agg(', '.join, axis=1)

C:\Users\Megan\AppData\Local\Temp\ipykernel_3040\858458825.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guns_2['State_Year'] = guns_2[['State', 'Year']].agg(', '.join, axis=1)

In [28]:
guns_2.head()

,State,#_killed,#_injured,latitude,longitude,n_guns_involved,Geographic_Region,Year,Month,Day,State_Year
0,Pennsylvania,0,4,40.3467,-79.8559,1.0,East,2013,1,1,"Pennsylvania, 2013"
1,California,1,3,33.9090,-118.3330,1.0,West,2013,1,1,"California, 2013"
2,Ohio,1,3,41.4455,-82.1377,2.0,East,2013,1,1,"Ohio, 2013"
3,Colorado,4,0,39.6518,-104.8020,1.0,Middle,2013,1,5,"Colorado, 2013"
4,North Carolina,2,2,36.1140,-79.9569,2.0,East,2013,1,7,"North Carolina, 2013"

In [29]:
guns_2['Month'].value_counts()

7     20812
8     20299
5     19718
6     18514
4     18422
9     18406
10    18402
1     17974
3     17675
12    17223
11    16658
2     14558
Name: Month, dtype: int64

In [30]:
# Create bar graph for number of incidents each month 
# Create stacked bar graph for #_killed vs #_injured each month

In [31]:
guns_2['Day'].value_counts()

1     7728
19    7384
20    7341
25    7329
27    7305
26    7272
17    7267
5     7261
13    7248
28    7203
15    7189
16    7180
4     7173
23    7169
18    7163
8     7141
11    7114
12    7100
3     7061
6     7058
21    7055
9     7035
7     7023
22    7023
2     7013
24    6976
14    6952
29    6881
10    6869
30    6742
31    4406
Name: Day, dtype: int64

In [32]:
guns_2.shape

(218661, 11)

In [33]:
Census.shape

(255, 2)

In [34]:
# Merge data frames 

data_combined = guns_2.merge(Census, on = ['State_Year'], how = 'outer')

In [35]:
data_combined.shape

(218675, 12)

In [37]:
data_combined.head()

,State,#_killed,#_injured,latitude,longitude,n_guns_involved,Geographic_Region,Year,Month,Day,State_Year,Total Population
0,Pennsylvania,0.0,4.0,40.3467,-79.8559,1.0,East,2013,1.0,1.0,"Pennsylvania, 2013",12583354
1,Pennsylvania,1.0,3.0,39.9924,-75.1300,1.0,East,2013,4.0,9.0,"Pennsylvania, 2013",12583354
2,Pennsylvania,1.0,3.0,39.8564,-75.3587,2.0,East,2013,4.0,28.0,"Pennsylvania, 2013",12583354
3,Pennsylvania,0.0,4.0,40.3091,-78.9124,1.0,East,2013,5.0,6.0,"Pennsylvania, 2013",12583354
4,Pennsylvania,0.0,4.0,40.0505,-75.1554,1.0,East,2013,5.0,11.0,"Pennsylvania, 2013",12583354

In [36]:
data_combined.isnull().sum()

State                 14
#_killed              14
#_injured             14
latitude              14
longitude             14
n_guns_involved       14
Geographic_Region     14
Year                  14
Month                 14
Day                   14
State_Year             0
 Total Population      0
dtype: int64

In [38]:
# Create subset without null values 

data_combined.dropna(inplace=True)

In [39]:
# Check output 

data_combined.isnull().sum()

State                 0
#_killed              0
#_injured             0
latitude              0
longitude             0
n_guns_involved       0
Geographic_Region     0
Year                  0
Month                 0
Day                   0
State_Year            0
 Total Population     0
dtype: int64

In [40]:
# Export combined dataframe 

data_combined.to_csv(os.path.join(path, '02 Data','Prepared Data','guns_census_merge.csv'))